{% load static %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
      <a class="navbar-brand" href={% url 'index' %}>
        <img src="{% static 'img/logo.png' %}" class="logo" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li 
            {% if '/' == request.path %}
                class = "nav-item active mr-3"
            {% else %}
                class = "nav-item mr-3"
            {% endif %} 
          >
            <a class="nav-link" href={% url 'index' %}>Home</a>
          </li>
          <li 
            {% if 'about' in request.path %}
                class = "nav-item active mr-3"
            {% else %}
                class = "nav-item mr-3"
            {% endif %} 
          >
            <a class="nav-link" href={% url 'about' %}>About</a>
          </li>
          <li class = "nav-item mr-3">

            <form id="form1" action="api/multitask/crawler/start_crawler/" method="post">
              <a href="javascript:;" class="nav-link" onclick="document.getElementById('form1').submit();">update content</a>
                <input type="hidden" name="article_num" value=20>
                <input type="hidden" name="word" value="">
                <input type="hidden" name="site" value=0>
                <input type="hidden" name="search_item" value=1>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>