{% extends 'base.html' %} 
{% load static %}
{% block title  %} About{% endblock %}

{% block content %}
  <section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">About Henry Huang Real Crawler</h1>
          <p class="lead">在此我們將探討如何使用本網站及未來展望</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> About</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>How crawler operate ?</h2>
          <p class="lead">Crawler的運作方式很簡單，下圖為crawler的運作流程圖</p>
          <img src="{% static 'img/web_crawler.png' %}" alt="">
          <p class="mt-8">將crawler分成兩個部分，第一部分是放入資料庫的格式，第二部分則是如何爬網站的資料</p>
          <p class="card-text"><h6>資料庫格式</h6> Model必須包含網址及標題，照片網址則需要看抓取的資料是否附上網址，日期則是再加入資料庫時自動增加。網站是關聯式model會連到其父屬的model;例如: 父屬model為TNW, bloomberg, techcrunch等等</p>
          <p class="card-text"><h6>如何爬</h6>  將bloomberg及TNW寫成不同的兩個Scripts(不寫在一起是因為之後還可更新更多爬的網站)，但基本上爬的方式有點相似， bloomberg及TNW都有專屬的AI版，但TNW的AI版非常雜亂，因此我改用查詢去找AI related topic。其中在爬bloomberg時遇到相當大的困難，網站會抓爬蟲機器人，因此要稍微延遲才能抓到文章。</p>
        
          <h2>How backend work ?</h2>
          <p class="lead">後端會定期做排成更新AI related topic，使用者也可手動去啟動爬蟲程式</p>
          <img src="{% static 'img/backend.png' %}" alt="">
          <p class="mt-8">將後端分成兩部分，第一是API的呼叫， 第二是定期排程及異步的處理</p>
          <p class="card-text"><h6>Restful API</h6>這裡有三個API可以呼叫，分別是article(文章內容), website(網站資訊)及multitask(設定排程時間及爬蟲異步端口，下圖為API的呼叫方法及功能</p>
          <img src="{% static 'img/api.png' %}" alt="">
          <p class="card-text"><h6>定期排程及異步的處理</h6> 當使用者在首頁點擊UPDATE CONTENT時，會post request到multitask api端口，此時會觸發celery去執行異步的爬蟲程式。而排成也是打同樣的api端口，排成時間則可以去django後台設定</p>
        
          <h2>How frontend work ?</h2>
          <p class="lead">設計草圖</p>
          <img src="{% static 'img/frontend.jpg' %}" alt="">
          <p class="mt-8">前端並不是我比較專長的部分，主要是寫後端邏輯及API端口，之前公司是做client及server side分離，然而就公司是使用React而我不會寫react。因此此網站混到client side較非漂亮的做法</p>
          <p class="card-text"><h6>介面介紹</h6>上面的nav bar分別是Home主頁, About未來展望及設計過程, Update content則為抓取新的爬蟲文章</p>
        

          <h2>How to deploy on the Digital Ocean work ?</h2>
          <p class="lead">此次部屬並未在Google Cloud Platform上部署，也並未按照Git flow去跑，日後再新增此功能</p>
          <img src="{% static 'img/server_deployment.png' %}" alt="">
          <p class="mt-8">網站並未加上docker去將整個環境包起來，主要是因為有一個爬蟲的driver要執行，因此較適合單純用virtual machine去部署。rabbitmq及celery沒用docker去包裝，但依然可用supervisor做到自動執行功能</p>
          <h2>How to enter django admin ?</h2>
          <h6>首頁加上/admin及為後台，後台密碼請email索取</h6>
        </div>
        

        <div class="col-md-4">
              <div class="card">
              <img class="card-img-top" src="{% static 'img/web_crawler.png' %}" alt="Seller of the month">
              <div class="card-body">
                <h5 class="card-title">未來展望</h5>
                <h6 class="text-secondary">會員制及更多標籤功能</h6>
                <p class="card-text">更多標籤功能: <br> 目前後端的爬蟲Scripts只寫了專屬於AI related topic， 之後我會增加更多的topic，例如Big data, Cybersecrurity, Mobile等等主題。
                  不過後端資料庫並非hardcode，因此只要增加想要查詢的topic到資料庫，再修改爬蟲script並加以測試。
                </p>
                <p class="card-text">會員制度: <br> 增加登入登出的功能，讓會員選擇想要查詢的topic，並將喜愛的文章加入閱讀清單。此外當有新的文章推出時，用推播方式通知使用者。
                </p>
                <p class="card-text">部署至Google Cloud Platform: <br> 因為此project規模還不夠龐大，因此放上Google Cloud Platform可說是相當浪費資源，但如果網站有流量，就要考慮Scale up及load balance的問題，
                此時就較適合將整個server移植至Google Cloud Platform。
                </p>
                
              </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- More -->
  <section id="work" class="bg-dark text-white text-center">
    <h2 class="display-4">More information about this project</h2>
    <h4>點擊此連結來查看網站Github</h4>
    <hr>
    <a href="https://github.com/Mchighlight/tech_crawler" class="btn btn-secondary text-white btn-lg">View my website repository</a>
  </section>

  <!-- Developer -->
  <section id="team" class="py-5">
    <div class="container">
      <h2 class="text-center">Developer</h2>
      <div class="row text-center">
        <div class="col-md-4">
          <img src="https://i.imgur.com/XlbOzBJ.png" alt="" class="rounded-circle mb-3">
          <h4>Hung Chih Huang</h4>
          <p class="text-success">
            <i class="fas fa-award text-success mb-3"></i> Backend Engineer and DevOps</p>
          <hr>
          <p>
            <i class="fas fa-phone"></i>0972313589</p>
          <p>
            <i class="fas fa-envelope-open"></i> Mchighlight@gmail.com</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}